.loginbox{
    text-align: center;
    justify-content: center;
 

  }
  .loginbox h1{
    text-align: center;
    margin-left: 5%;
  }
  .loginbox input{
  border-radius: 5%;
  margin: 1%;
  width: 50%;

  }
  .loginbox button{
    border-radius: 5%;

  }